<!DOCTYPE html>
<html>
  <head>
    <title>Diary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="naglowek">
    	<h1> <i> My own app </i> </h1> 
      </div>
    <div class="reszta">
      <div class="lewy">
        <div class="zaokraglony">
        <%= yield %>
        </div>
        <div class="zaokraglony">
                <% for url, name, ikona in websites %>
                <li><a href="<%= url %>">
                  <% if ikona.present? %>
                    <img src="<%= ikona %>" />
                  <% else %>
                    <%= name %>
                  <% end %>
                </a></li>
              <% end %>
        </div>
      </div>
      <div class="prawy">
       <img src= "http://images.clipartpanda.com/pink-heart-outline-clipart-aTexGLAT4.png" />
      </div>
      </div>
  </body>
</html>
